# MongoDB Connection
MONGODB_URI=mongodb://localhost:27017/ecommerce
# Hoặc sử dụng MongoDB Atlas
# MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/ecommerce

# JWT Secret
JWT_SECRET=abc123123

# Next.js
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-nextauth-secret-here

# App Configuration
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your-cloudinary-cloud-name
CLOUDINARY_API_KEY=your-cloudinary-api-key
CLOUDINARY_API_SECRET=your-cloudinary-api-secret
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=your-cloudinary-cloud-name
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=your-upload-preset

# VNPay Configuration (Demo/Sandbox)
VNPAY_TMN_CODE=VEJ6JRY7
VNPAY_SECRET_KEY=RME03ZI55WD82BT17PCFUVJK0RW0I1R9


#EMAIL
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=phungmanhphong2k3@gmail.com
EMAIL_PASS=dlfv mruk ingk tvlj
EMAIL_FROM=phungmanhphong2k3@gmail.com
